main {
  background-image: url(../img/train.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

/*# HEADER */
header {
  height: 180px;
  font-size: 22px;
}

.logo {
  height: 120px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
}

/*# MAIN */
main {
  height: calc(100vh - 180px);
}

.card {
  display: none;
}

.card.show{
  display: block;
}

.card-body {
  height: 400px;
}

.card-body .col {
  border-right: 2px solid lightgray;
}

.card-body .col:last-child {
  border: none;
}

#bar-code {
  transform: rotate(270deg);
  width: 300px;
  position: relative;
  left: -115px;
}

.card-body p {
  font-size: 1.8rem;
}

.card-body span {
  font-weight: bold;
  display: inline-block;
}